<!-- Author: Muhammad Kamaludin -->

<% @page_title = "Moderate Accounts" %>
<%= erb :"common/header" %>

<% unless @user.nil? %>
    
    <% if @user[:account_type] == 3 %>
    <br>
    <div class="adminmoderationtab">
        <a href="/post-moderation-feed" >Moderate Posts</a> | <a href="/user-moderation-feed">Moderate Accounts</a>
    </div>
    <br>
    <% end %>
    
<%= erb :"common/feed_filter" %>

<section> 
    <!-- This page displays non-deleted accounts first and deleted accounts below them -->
    <% if @account.count > 0 %>

        <% @account.each do |account| %>
            <% if account.is_suspended == 0 %>
            <article>
                <p><strong>User ID:</strong> <%= h account.userID %></p>
                <p><strong>Username:</strong> <%= h account.username %></p> 
                <p><strong>Name :</strong> <%= h account.name %></p>
                <p><strong>University:</strong> <%= h University[account.universityID].university_name %></p>

                <div class="button"><p><a href="/delete-user?userID=<%= h account.userID %>">Delete Account</a></p></div>

            </article>
            <% end %>
        <% end %>

        <% @account.each do |account| %>
            <% if account.is_suspended == 1 %>
            <article>
                <p><strong>User ID:</strong> <%= h account.userID %></p>
                <p><strong>Username:</strong> <%= h account.username %></p> 
                <p><strong>Name :</strong> <%= h account.name %></p>
                <p><strong>University:</strong> <%= h University[account.universityID].university_name %></p>

                <div class="button"><p><a href="/restore-account?userID=<%= h account.userID %>">Restore Account</a></p><div>

            </article>
            <% end %>
        <% end %>

    <% else %>

        <p>No account found</p>
        
    <% end %>

<% else %>

    <p>Error, <strong>User Not Found</strong></p>

<% end %>
</section>

<%= erb :"common/footer" %>