<%#load common header here%>

<h1>Feed</h1>

<% if @posts.count > 0 %>
    <% @posts.each do |post| %>
        <article>
            <p><b>'<%= h post.title %>'</b> by <%= h post.username %></p>
            <p><%= h post.message %></p>
            <p><%= h post.university %>. Tags: <em><%= h post.tags %></em></p>
        </article>
        <br>
    <% end %>
<% else %>
    <p>No posts were found.</p>
<% end %>

<%#load common footer here%>