<!-- Author: Alexander Johns & Lexi Wheadon -->
<!-- Updated: Muhammad Kamaludin -->

<% @page_title = "Feed" %>
<%= erb :"common/header" %>

<div class = "button"><a href="/new-post">Create Post</a></div>

<section>
    <% if @posts.count > 0 %>
        <% @posts.each do |post| %>
            <% post_user = User[post.userID] %>
            <% university = University[post.universityID] %>

            <article class="feed_post">
                <h3 class="post_title" ><%= h post.title %></h3>

                <% if post.is_guest == 1 %>
                    <p><em>By guest user.</em></p>
                <% else %>
                    <p><em>By <%= h post_user.username %></em></p>
                <% end %>

                <% if post.is_guest == 0 %>
                    <p>By <strong><%= h post_user.username %></strong>, from <%= h university.university_name %></p>
                <% else %>
                    <p>By <strong>Guest User</strong>, from <%= h university.university_name %></p>
                <% end %>
                
                <p class="post_message" name="message" ><%= h post.message %></p>

                <p><strong>Tags:</strong></p>
                <% unless PostTag.where(postID: post.postID).nil? %>
                    <% PostTag.where(postID: post.postID).each do |tag| %>
                        <p><%= h Tag[tag.tagID].tag_name %></p>
                    <% end %>
                <% else %>
                    <p> None </p>
                <% end %>

            </article>
            <br>
        <% end %>
    <% else %>
        <p>No posts were found.</p>
    <% end %>
</section>

<%= erb :"common/footer" %>
