<% @page_title = "Feed" %>
<%= erb :"common/header" %>

<div class = "button"><a href="/new-post">Create Post</a></div>

<!-- TODO - MAKE IT AUTOMATICALLY GET UNI AND TAGS -->
<section>
    <% if @posts.count > 0 %>
        <% @posts.each do |post| %>
            <% post_user = User.where(userID: session[:userID]).first %>
            <% university = University.where(universityID: session[:universityID]).first %>

            <article class="feed_post">
                <p><b>'<%= h post.title %>'</b></p>
                <p><em>By <%= h post_user.username %></em></p>
                <p><%= h post.message %></p>
                <p><%= h university.university_name %>. Tags:</p>
            </article>
            <br>
        <% end %>
    <% else %>
        <p>No posts were found.</p>
    <% end %>
</section>

<%= erb :"common/footer" %>
