
<body>

    <%#load common header here%>
    
    <!-- Unmodifiable info -->
    <h1>Manage post</h1>
    <p><strong>Post ID:</strong> <%= h @id %></p>
    <p><strong>Name:</strong> <%= h @post[:username] %></p>
    <p><strong>University:</strong> <%= h @post[:university] %> </p>
    <p><strong>Date created:</strong> <%= h @post[:date_posted] %></p>


    <!-- Modifiable info -->
    <form method="post">
    
        <label><strong>Title</strong></label>
        <input type="text" name="post_title" value="<%= h @post[:title] %>" >

        <label><strong>Tags</strong></label>
            <input type="text" name="tag" value="<%= h @post[:tags] %>" >

        <label><strong>Content</strong></label>
        <input type="text" name="post_message" value="<%= h @post[:message] %>" >

        <!-- load image if exist: moderator and admin can delete the image here -->
        <% if @post[:is_image] == 1 %>
            <label><strong>Image</strong></label>
            <img src=" <%= h @post[:image_link] %>" alt="d" >

            <input type="checkbox" id="deleteimage" name="is_image" value="0">
            <label for="deleteimage">Delete this image</label>
            
        <% end %>

        <input type="hidden" name="post_id" value="<%= h @id %>" >
        <input type="submit" value="approve" formaction="/approve" >
        <input type="submit" value="reject" formaction="/reject" >

    </form>

<%#load common footer here%>

</body>

