<%#load common header here%>

<body>

    <h1>Manage post</h1>
    <p> Post ID: <%= h id %></p>
    <p> Name: <%= " #{@user.first_name} #{@user.last_name}"%>
    <p> University: <%= "#{@post.university}" %> <p>
    <p> Date created: <%= "#{@post.date_posted}" %></p>

    <forms method="post">
    
        <label>Title</label>
        <input type="text" name="post_title" value="<%= h @post.title">

        <label>Tags</label>
        <% @post.tag.each_with_index |tag, i| do>
            <input type="text" name="tag <%= h i%>" value="<%= h tag %>">
        <% end %>

        <label>Content</label>
        <input type="text" name="post_message" value="<%= h @post.message %>">

        <% if @post.is_image == 1 %>
            <img src="@post.image_source" alt="">
        <% else %>
        <% end %>
        #insert text input for title and messages and image

        <input type="submit" value="approve" formaction="/moderation-action/approve">
        <input type="submit" value="reject" formaction="/moderation-action/reject">
    </forms>

</body>

<%#load common footer here%>>