<%#load common header here%>

<h1>Make A Post</h1>

<% unless @post.errors.size.zero? %>
  <p><strong class="error">Please fix the errors below:</strong></p>
<% end %>

<form method="post">
  <p class="label">Title</p>
  <p class="field"><input type="text" name="title" value="<%= h @post.title %>"></p>
  <% if @post.errors.include?("title") %>
    <% @post.errors["title"].each do |error| %>
      <p class="error"><strong>Title <%= error %></strong></p>
    <% end %>
  <% end %>

  <p class="label">Message</p>
  <p class="field"><input type="text" name="message" value="<%= h @post.message %>"></p>
  <% if @post.errors.include?("message") %>
    <% @post.errors["message"].each do |error| %>
      <p class="error"><strong>Message <%= error %></strong></p>
    <% end %>
  <% end %>

  <p class="label">Tags (Comma Separated)</p>
  <p class="field"><input type="text" name="tags" value="<%= h @tags %>"></p>

  <p class="label">Image Link (Imgur)</p>
  <p class="field"><input type="text" name="image_link" value="<%= h @post.image_link %>"></p>
  
  <p class="submit"><input type="submit" value="Submit"></p>
</form>

<a href="/" target="_parent"><button>Cancel</button></a>

<%#load common footer here%>

