<!-- Author: Muhammad Kamaludin -->

<% @page_title = "Moderate Posts" %>
<%= erb :"common/header" %>    
   
<% unless @user.nil? %>

    <% if @user[:account_type] == 3 %>
    <br>
    <div class="adminmoderationtab">
        <a href="/post-moderation-feed" >Moderate Posts</a> | <a href="/user-moderation-feed">Moderate Accounts</a>
    </div>
    <br>
    <% end %>
    
<%= erb :"common/feed_filter" %>

<section>
    <% if @posts.count > 0 %>

        <% unless @filter.nil? %>
        <%# Update @posts according to filter %>
            <% if @filter_type == "uni" %>
                <% @posts = @posts.where(universityID: @filter_id.to_i) %>

            <% elsif @filter_type == "tag" %>
                <% @taggedpost = PostTag.where(tagID: @filter_id.to_i) %>
                <% @taggedpost_ID = [] %>
                <% @taggedpost.each do |i|%>
                    <% @taggedpost_ID.push(i.postID) %>
                <% end %>

                <% @posts = @posts.where(postID: @taggedpost_ID)%>
            <% end %>
        <% end %>


         <!--This feed will have 2 parts, it will display unmoderated post first and display moderated post below it -->

        <% if @posts.count > 0 %>    
            <!-- This is for unmoderated post-->
            <% @post_is_moderated = 0 %>
            <%= erb :"common/post" %>

            <!--This displays moderated posts & only visible for admin -->
            <% if @user[:account_type] == 3 %>

                <% @post_is_moderated = 1 %>
                <%= erb :"common/post" %>

                <% @post_is_moderated = 2 %>
                <%= erb :"common/post" %>
                
            <% end %>

        <% else %>
            <p>No posts Were Found</p>
        <% end %>

    <% else %>

        <p>No posts Were Found</p>
        
    <% end %>

<% else %>

    <p>Error, <strong>User Not Found</strong></p>

<% end %>
</section>

<%= erb :"common/footer" %>