<!-- Author: Muhammad Kamaludin -->

<% @page_title = "Moderate Posts" %>
<%= erb :"common/header" %>    
   
<% unless @user.nil? %>

    <% if @user[:account_type] == 3 %>
    <br>
    <div class="adminmoderationtab">
        <a href="/post-moderation-feed" >Moderate Posts</a> | <a href="/user-moderation-feed">Moderate Accounts</a>
    </div>
    <br>
    <% end %>
    
<%= erb :"common/feed_filter" %>

<section>
    <% unless @posts.nil? %>

        <% unless @filter.nil? %>
        <%# Update @posts according to filter %>
            <% if @filter_type == "uni" %>
                <% @posts = @posts.where(universityID: @filter_id.to_i) %>

            <% elsif @filter_type == "tag" %>
                <% @taggedpost = PostTag.where(tagID: @filter_id.to_i) %>
                <% @taggedpost_ID = [] %>
                <% @taggedpost.each do |i|%>
                    <% @taggedpost_ID.push(i.postID) %>
                <% end %>

                <% @posts = @posts.where(postID: @taggedpost_ID)%>
            <% end %>
        <% end %>


         <!--This feed will have 2 parts, it will display unmoderated post first and display moderated post below it -->

            <!-- This is for unmoderated post-->
            <% @posts.each do |post| %>
                <% if post.is_moderated == 0 %>
                <article>
                <p><strong>Status: </strong>Unmoderated</p>
                <% @uni = University.where(universityID: post.universityID).first %>
                <h3 class="post_title" ><%= h post.title %></h3>

                <% if post.is_guest == 0 %>
                    <p>By <strong><%= h User[post.userID].username %></strong> From <%= h @uni[:university_name] %></p>
                <% else %>
                    <p>By <strong>Guest User</strong> From <%= h @uni[:university_name] %></p>
                <% end %>

                <p><strong>Tags:</strong></p>
                <% unless PostTag.where(postID: post.postID).nil? %>
                    <% PostTag.where(postID: post.postID).each do |tag| %>
                        <p><%= h Tag[tag.tagID].tag_name %></p>
                    <% end %>
                <% else %>
                    <p> None </p>
                <% end %>
                <p class="post_message" name="message" ><%= h post.message %></p>
                
                <!-- load image if exist -->
                <% if post.is_image == 1 %>
                    <br>
                    <img src="<%= h post.image_link %>" alt="This is alt text" >
                <% end %>

                <!-- The link below brings to new page where moderator can edit/reject/approve -->
                <div class="button"><p><a id="moderatepost<%= h post.postID %>" href="/moderate-post?postID=<%= h post.postID %>" >Moderate Post</a></p></div>
                </article>
                <% end %>
            <% end %>

            <!--This display moderated posts & only visible for admin -->
            <% if @user[:account_type] == 3 %>
                <% @posts.each do |post| %>
                    <% if post.is_moderated == 1 %>
                    <article>
                    <p><strong>Status: </strong>Approved</p> 
                    <% @uni = University.where(universityID: post.universityID).first %>
                    <h3 class="post_title" ><%= h post.title %></h3>

                    <% if post.is_guest == 0 %>
                    <p>By <strong><%= h User[post.userID].username %></strong> From <%= h @uni[:university_name] %></p>
                    <% else %>
                        <p>By <strong>Guest User</strong> From <%= h @uni[:university_name] %></p>
                    <% end %>

                    <p><strong>Tags:</strong></p>
                    <% unless PostTag.where(postID: post.postID).nil? %>
                        <% PostTag.where(postID: post.postID).each do |tag| %>
                            <p><%= h Tag[tag.tagID].tag_name %></p>
                        <% end %>
                    <% else %>
                        <p> None </p>
                    <% end %>
                    <p class="post_message" name="message" ><%= h post.message %></p>
                
                    <!-- load image if exist -->
                    <% if post.is_image == 1 %>
                        <br>
                        <img src="<%= h post.image_link %>" alt="This is alt text" >
                    <% end %>

                    <div class="button"><p><a id="moderatepost<%= h post.postID %>" href="/delete-post?postID=<%= h post.postID %>" >Delete Post</a></p></div>
                    </article>
                    <% end %>
                <% end %>

                <% @posts.each do |post| %>
                    <% if post.is_moderated == 2 %>
                    <article>
                    <p><strong>Status: </strong>Rejected/Deleted</p> 
                    <% @uni = University.where(universityID: post.universityID).first %>
                    <h3 class="post_title" ><%= h post.title %></h3>

                    <% if post.is_guest == 0 %>
                    <p>By <strong><%= h User[post.userID].username %></strong> From <%= h @uni[:university_name] %></p>
                    <% else %>
                        <p>By <strong>Guest User</strong> From <%= h @uni[:university_name] %></p>
                    <% end %>

                    <p><strong>Tags:</strong></p>
                    <% unless PostTag.where(postID: post.postID).nil? %>
                        <% PostTag.where(postID: post.postID).each do |tag| %>
                            <p><%= h Tag[tag.tagID].tag_name %></p>
                        <% end %>
                    <% else %>
                        <p> None </p>
                    <% end %>
                    <p class="post_message" name="message" ><%= h post.message %></p>
                
                    <!-- load image if exist -->
                    <% if post.is_image == 1 %>
                        <br>
                        <img src="<%= h post.image_link %>" alt="This is alt text" >
                    <% end %>

                    <div class="button"><p><a id="moderatepost<%= h post.postID %>" href="/restore-post?postID=<%= h post.postID %>" >Restore Post</a></p></div>
                    </article>
                    <% end %>
                <% end %>
            <% end %>


    <% else %>

        <p>Content Not Found</p>
        
    <% end %>

<% else %>

    <p>Error, <strong>User Not Found</strong></p>

<% end %>
</section>

<%= erb :"common/footer" %>