<% @page_title = "Profile" %>
<%= erb :"common/header" %>

<h1>Hello <%= "#{@user.first_name} {@user.last_name}"%></h1>

    /* shows all the posts the user has posted */
    <%if @posts.count > 0%>
    <%@posts.each do |post|%>
        <p><%= post.title%></p>
        <p><%=post.message%></p>
        <%else%>
        <p>Make your first post</p>
<%end%>

<%= erb :"common/footer" %>
