<!-- Author: Onaghalino Ekere -->
<!-- Updated By: Alexander Johns, Muhammad Kamaludin -->

<% @page_title = "#{@user.username}'s Profile" %>
<%= erb :"common/header" %>

<p><b>Name:</b> <%= h @user.name %></p>
<p><b>Email:</b> <%= h @user.email %></p>
<p><b>Account Type:</b> <%= @user.type_of_account %></p>
<p><b>University:</b> <%= University[@user.universityID].university_name %></p>

<section>
    <% if @posts.count > 0 %>
        <% @posts.each do |post| %>
            <article class="feed_post">
                <h3 class="post_title" ><%= h post.title %></h3>

                <p><%= h post.message %></p>
                
                <p><b>Tags:</b></p>
                <% unless PostTag.where(postID: post.postID).nil? %>
                    <% PostTag.where(postID: post.postID).each do |tag| %>
                        <p><%= h Tag[tag.tagID].tag_name %></p>
                    <% end %>
                <% else %>
                    <p> None </p>
                <% end %>
            </article>
            <br>
        <% end %>
    <% else %>
        <p> No posts were found.</p>
    <% end %>
</section>

<%= erb :"common/footer" %>
