<!-- Author: Muhammad Kamaludin -->
<!-- the filter pass a param called filter with value "<filtertype>,<filterid>,<filtername>" -->
<!-- filter type currently availabe is uni and tag -->
<!-- if filtertype = uni, filterid = universityID, filtername = university name -->
<!-- same goes to tag -->
<!-- For moderation: filter for deleted is not available yet -->

    <% @tags = Tag.all %>
    <% unless @tags.nil? %>
        <form method="get">
            <label for="feedfilter">Filter accounts by:</label>
            <select name="filter" id="feedfilter">
                
                <optgroup label="Current filter">
                    <% unless @filter.nil? %>
                        <option value="<%= h @filter_type %>,<%= h @filter_id %>,<%= h @filter_name %>"><%= h @filter_name %></option> 
                    <% else %>
                        <option value="">All</option> 
                    <% end %>
                </optgroup>

                <optgroup label="Default">
                    <% if @page_title == "Moderate Posts" && @user[:account_type] == 2 %>
                        <option value="uni,<%= h @user[:universityID] %>,<%= h University[@user[:universityID]].university_name %>"><%= h University[@user[:universityID]].university_name %></option>
                    <% else %>
                        <option value="">All</option>
                    <% end %>
                </optgroup>

                <optgroup label="General">
                    <option value="">All</option>
                    <%# TODO: Add another option "Not Deleted" %>
                    <%# TODO: Add another option "Deleted" %>
                </optgroup>
                
                <%# Tags filter doesnt appear in account moderation%>
                <% if @page_title != "Moderate Users Account" %>
                <optgroup label="By Tags">
                    <% @tags.each do |tag| %>
                        <option value="tag,<%= h tag.tagID %>,<%= h tag.tag_name %>"><%= h tag.tag_name %></option>
                    <% end %>
                </optgroup>
                <% end %>

                <%#University filter doesn't appear on mod's post moderation feed%>
                <% unless @page_title == "Moderate Posts" && @user[:account_type] == 2 %>
                <optgroup label="By University">
                    <% University.each do |uni| %>
                        <option value="uni,<%= h uni.universityID %>,<%= h uni.university_name %>"><%= h uni.university_name %></option>
                    <% end %>
                </optgroup>
                <% end %>

            </select>
            <input type="submit" value="Apply filter">
        </form>
    <% end %>